<div class="flex bg-pink-800">
    <img routerLink="/" src="https://www.sqli.com/themes/custom/sqli_theme/dist/images/logo-text-animated.svg"
        alt="SQLI Logo" class="h-16 p-2 cursor-pointer">


    <!-- search bar -->
    <ul class="flex justify-between items-center p-4 w-1/3 ml-5 text-xl text-white font-bold ">
        <li routerLink="/" class="cursor-pointer hover:text-black">Customers</li>
        <li routerLink="addCustomer" class="cursor-pointer hover:text-black">Add Customer</li>
        <li routerLink="dashboard" class="cursor-pointer hover:text-black">Dashboard</li>
    </ul>



    <!-- username -->
    <div class="flex  ml-auto mr-3 w-fit  text-white">
        <div class="flex justify-center items-center cursor-pointer hover:text-black">
            <img src="../../assets/img/adkhisi.jpg" alt="User" class="h-14 rounded-full p-2">
            <p class="font-bold">Ayoub Dkhissi</p>
        </div>
    </div>

</div>