<div class="flex bg-pink-800">
    <img src="https://www.sqli.com/themes/custom/sqli_theme/dist/images/logo-text-animated.svg" alt="SQLI Logo" class="h-16 p-2 cursor-pointer">


    <!-- search bar -->
    <ul class="flex justify-between items-center p-4 w-1/3 ml-5 text-xl text-white font-bold">
        <li class="cursor-pointer hover:text-black">Customers</li>
        <li class="cursor-pointer hover:text-black">Add Customer</li>
        <li class="cursor-pointer hover:text-black">Statistics</li>
    </ul>


    <div class="flex  items-center w-2/5 mx-3">
        <input type="text" class="h-10 p-2  w-full border-2 border-gray-300 rounded-lg" placeholder="Search">
    </div>

    <!-- username -->
    <div class="flex align-middle justify-end w-fit  text-white">
        <div class="flex justify-center items-center cursor-pointer hover:text-black">
            <img src="../../assets/img/adkhisi.jpg" alt="User" class="h-14 rounded-full p-2">
            <p class="font-bold">Ayoub Dkhissi</p>
        </div>
    </div>

</div>